*{
    text-align: center;
    border: 1px solid black;
}
header{
    background-color: burlywood;
    font-size: xx-large;
    height: 10vh;
}
body{
    background-color: darkblue;

}
footer{
    height: 5vh;
    margin: auto;
}
nav{ 
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {

    margin: 10px;
    border: 1px solid black;
}
main{
    height: 80vh;
}