*{
    text-align: center;
 /*   border: 1px solid black; */
}
header ,footer{
    background-color: rgb(86, 27, 140);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
header{
    font-size: xx-large;
    height: 10vh;
}
body{
    background-color: rgb(21, 21, 118);

}
footer{
    height: 5vh;
    margin: auto;
}
nav{ 
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {

    padding: 10px;
    margin: 15px;
    background-color: rgb(123, 36, 155);
    border: solid black 1px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}
a:hover{
    transform: scale(1.1);
    background-color: rgb(143, 37, 182);

}
main{
    height: 78vh;
}
#an1{
    animation: an1 2.5s infinite alternate;
}
#ani1:hover {
    animation-play-state: paused;
}
/* @ */
    /* @media  */
    @media screen and (max-width:1200px){

    }
    @media screen and (max-width:600px){

    }
    /* @keyframe */
        @keyframes an1 {
        33% {
            transform: rotate(0);
            transform: scale(1);
        }
        66%{
            transform: scale(1.1);
            transform: rotate(2deg);
        }
        
        100%{
            transform: scale(1.1);
            transform: rotate(-2deg);
        }
    }
