*{
    text-align: center;

}
html{
        scroll-padding-top: 15vh;
}
header ,footer{
    background-color: rgb(86, 27, 140);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
header ,footer, nav{
    position: fixed;
    width: 99%;
    z-index: 1;
}
header{
    font-size: xx-large;
    height: 10vh;
    z-index: 2;
}
body{
    background-color: rgb(21, 21, 118);
}
li{
    list-style-type: none;
}
footer{
    height: 5vh;
    margin: auto;
    bottom: 1vh;
}
nav {
    position: fixed;
    top: 11vh; /* tuż pod headerem */
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 21, 118);
    z-index: 2;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 15px;
    background-color: rgb(123, 36, 155);
    border: solid black 1px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}
nav a:hover{
    transform: scale(1.1);
    background-color: rgb(143, 37, 182);

}
main{
    padding: 20vh 2vw 7vh;
    overflow: auto;
    background-color: rgb(51, 51, 194);
    color: black;
}
main a{
    margin: 10px;
    color: rgb(51, 179, 161);
}
.box1{
    position: fixed;
    bottom: 0;
    background-color: rgb(21, 21, 118);
    width: 100vw;
    height: 7vh;
    z-index: 0;
}
.box2{
    position: fixed;
    top: 0;
    background-color: rgb(21, 21, 118);
    width: 100vw;
    height: 11vh;
    z-index: 0;
}
#an1{
    animation: an1 2.5s infinite alternate;
}

/* @ */
    /* @media  */
    @media screen and (max-width:1200px){
        nav{
            display: none;
        }
    }
    @media screen and (max-width:600px){
        nav{
            display: none;
        }
        ul{
            display: none;
        }
    }
    /* @keyframe */
        @keyframes an1 {
        33% {
            transform: rotate(0) scale(1);
        }
        66%{
            transform: scale(1.1) rotate(2deg);
        }
        
        100%{
            transform: scale(1.1) rotate(-2deg);
        }
    }
