*{
    text-align: center;
}
header ,footer{
    background-color: rgb(86, 27, 140);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
header ,footer, nav{
    position: fixed;
    width: 99%;
    z-index: 1;
}
header{
    font-size: xx-large;
    height: 10vh;
    z-index: 2;
}
body{
    background-color: rgb(21, 21, 118);

}
footer{
    height: 5vh;
    margin: auto;
    bottom: 1vh;
}
nav{ 
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20vh;
    background-color: rgb(21, 21, 118);
    padding-top: 300px;
    width: 100vw;
}

nav a {
    padding: 10px;
    margin: 15px;
    background-color: rgb(123, 36, 155);
    border: solid black 1px;
    border-radius: 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}
nav a:hover{
    transform: scale(1.1);
    background-color: rgb(143, 37, 182);

}
main{
    padding: 15vh 2vw 7vh;
    z-index: -1;
}
.box1{
    position: fixed;
    bottom: 0;
    background-color: rgb(21, 21, 118);
    width: 99vw;
    height: 5vh;
    z-index: 0;
}
#an1{
    animation: an1 2.5s infinite alternate;
}

/* @ */
    /* @media  */
    @media screen and (max-width:1200px){

    }
    @media screen and (max-width:600px){

    }
    /* @keyframe */
        @keyframes an1 {
        33% {
            transform: rotate(0) scale(1);
        }
        66%{
            transform: scale(1.1) rotate(2deg);
        }
        
        100%{
            transform: scale(1.1) rotate(-2deg);
        }
    }
